# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
